body {
    margin: 100px 100px;
}


.container {
    display: flex;
    gap: 50px;
    border: solid black;
    justify-content: center;
}

.container div {
    height: 200px;
    width: 200px;
    border: solid black;
    text-align: center;
}

#play-game {
    margin-right:50px;
}

.play-game {
    color: red;
    border-radius: 0 15px;
}

button {
    width: 100px;
}

#game-over {
    font-weight: bold;
    text-decoration: underline;
}

.win {
    color:green;
}

.lose {
    color:red;
}