@font-face { font-family: MorningRainbow; src:url('./fonts/MorningRainbow.ttf'); }

body {
    display:flex;
    justify-content: center;
    font-family: MorningRainbow;
    margin: 100px 100px;
    background-color:rgb(17, 30, 44);
    color:rgb(219, 224, 250);
}

hr {
    color: rgb(219, 224, 250);
}

h1 {
    font-size: 50px;
    display:inline-block;
    margin: 0;
    color: rgb(219, 224, 250);
}
.btns {
    padding-top:70px;
    display: flex;
    gap: 50px;
    justify-content: center;
    padding-bottom: 12px;
}
.container {
    background-color:rgb(20, 43, 70);
    padding:20px;
    border-radius: 15px;
    box-shadow: black 0px 10px 20px -8px;
    position: absolute;
    border:solid rgb(219, 224, 250) 2px;
    width: 650px;
}

.result {
    padding-top: 40px;
}

#play-game {
    margin-right:50px;
    transition:all 2.1s;
    width: 100px;
    height: 100px;
    padding:5px;
    border-radius: 12px;
}

.play-game {
    border-radius: 0 15px;
    transform:scale(2.1);
    background-color:green;
}

button {
    width: 100px;
    color:rgb(41, 39, 54);
    border-radius: 8px;
}

#rock,
#paper,
#scissors {
    background-color: rgb(219, 224, 250);
    transition:all 0.1s;
    width: 100px;
    height: 100px;
    padding:5px;
    border-radius: 12px;
}

.images {
    transform:scale(1.1);
}

.images-down {
    box-sizing: border-box;
    border:solid rgb(99, 99, 133) 1px;
}

#pic-round {
    width:200px;
}
#game-over {
    font-weight: bold;
    text-decoration: underline;
}

#round {
    font-weight: bolder;
    font-size: 20px;
}

.win {
    color:green;
}

.lose {
    color:red;
}

#answer {
    font-size: 16px;
}